.profile-menu-area {
    margin-bottom: 20px;
}
.profile-picture-box {
    position: absolute;
    transform: translateY(calc(-500% - 10px));
    background-color: white;
    z-index: 100;



}

/*@media #{$md-device} {*/
/*    margin-bottom: 50px;*/
/*}*/
/*@media #{$sm-device} {*/
/*    padding: 15px;*/
/*}*/

