.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
      "h h"
      "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.header {
    grid-area: h;
    background-color: burlywood;
}

header img {
    width: 55px;
    margin-left: 5px;
}

.nav {
    grid-area: n;
    background-color: coral;
}

.content {
    grid-area: c;
    background-color: #95d4ff;

}
.content img{
    width: 100%;
    height: 100%;
}

