/*.app-wrapper {*/
/*    !*display: grid;*!*/


/*    !*grid-template-areas:*!*/
/*    !*  "h h"*!*/
/*    !*  "n c";*!*/

/*    !*grid-template-rows: 60px 1fr;*!*/
/*    !*grid-template-columns: 2fr 10fr;*!*/
/*    !*!*grid-gap: 10px;*!*!*/
/*}*/

.header {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

.top {
    width: inherit;
    height: 54px;
    background-color: #262626;
}

.top img {
    height: 22px;
    margin-top: 13px;
    margin-left: 10px;
}

.menu_top {
    background-color: azure;
    height: 54px;
}

/*top menu here*/

.image_header {
    width: inherit;
    height: 345px;
}

#fire_img {
    width: inherit;
    height: inherit;
}

.menu_bottom {
    width: inherit;
    height: 54px;
    background-color: azure;
}
